.btn:hover{
    background-color: #424242 !important;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 20px;
}
.flex{
    display: flex;
}
.flex-2{
    display: flex;
    margin-bottom: 5rem;
}
.container{
    margin-bottom: 8rem !important;
}
.img{
    width: 55%;
    margin-left: 4rem !important;
}
.img-cont{
    width: 50%;
}
.padd{
    padding: 2rem;
}
.stat-cont {
    width: 40%;
}
.margin{
    margin-top: 10rem !important;
}
.small p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #3873ed1;
}
.footer{
    background-color: #fbfbfb !important;
    padding-top: 2rem !important;
}
.navbar{
    background-color: #fff !important;
    padding-left: 11rem !important;
    height: 4.2rem;
}
.footer a{
    color: #424242;
    line-height: 2rem;
}
span{
    font-size: 14px;
}
.nav-item a{
    font-size: 15px;
    margin-right: 1.5rem !important;
}
.nav-item a:hover,.footer a:hover{
    color: #3873d1 !important;
}
a:hover{
    color: #000;
}
span a{
    color: #3873ed !important;
    cursor: pointer;
}
span a:hover{
    color: #000000 !important;
}
@media only screen and (max-width: 600px) {
    body{
        text-align: center !important;
        width: 100% !important;
    }
    .flex-2{
        display: block !important;
    }
    .flex{
        display: block !important;
    }
    .stat-cont {
        width: 100%;
        text-align: center;
    }
    .img-cont{
        width: 100%;
        text-align: center;
    }
    .img-2{
        width: 100%;
    }
    .img{
        width: 100%;
    }
}